<% include /public/header.html %>
<link rel="stylesheet" href="/public/css/index/goods-success.css">
    
    <!-- 付款成功 开始 -->
    <div class="container">
        <h3 class="h3-title">付款成功</h3>
    </div>
    <section class="container goods-success">
        <div class="icon iconfont icon-chenggong"></div>
        <div class="info">
            <div class="top">
                <span class="tips">付款成功! <a href="/personal">去个人中心看看订单～</a></span>
            </div>
        </div>
    </section>
    
    <!-- 付款成功 结束 -->

<% include /public/footer.html %>