<% include /public/header.html %>
<link rel="stylesheet" href="/public/css/index/news-show.css">

<!-- 轮播分类 开始 -->
<% include /public/banner.html %>
<!-- 轮播分类 结束 -->
<!-- 新闻详情 开始 -->
<section class="container">
    <!-- 新闻详情开始 -->
    <div class="news-lists">
        <div class="crumb">
            <a href="/">首页</a>
            <span>/</span>
            <a href="">详情</a>
        </div>
        <article>
            <h2>购物指南</h2>
            <div class="content">
                <p>登陆商城，选择您所喜爱的产品，点击“立即购买”之后，在商品详情页会有本产品的销售时间提示哦，预祝您买到自己心仪的产品。</p>
                <p>商城的部分商品，当您选择的收货区域无货时，可以点选到货通知。开启到货通知功能后，产品开售前，商城APP会分批以PUSH的形式通知您。设置成功后支持取消。</p>
            </div>
        </article>
        
    </div>
    <!-- 新闻详情结束 -->
    <!-- 阅读排行开始 -->
    <div class="rank-lists">
        <h3 class="h3-title">阅读排行</h3>
        <% var index = 1;%>
        <% for(var i in hotNews){ %>
        <dl class="item">
            <dt><a href="/news-show/<%= hotNews[i].id %>" target="_blank" title=""><%= hotNews[i].title%></a></dt>
            <dd class="time"><%= dateFormat(hotNews[i].create_time) %></dd>
            <dd class="rank <%= index<=3?'red':''%>"><%= index%></dd>
            <% index++ %>
        </dl>
        <%}%>
        </div>
        <!-- 阅读排行结束 -->
    </section>
    <!-- 新闻列表与排行结束 -->

<script src="./js/index.js"></script>
<% include /public/footer.html %>