<% include /public/header.html %>
<link rel="stylesheet" href="/public/css/index/personal-info.css" />
    <!-- 个人中心 开始 -->
    <section class="container">
        <h3 class="h3-title">个人中心</h3>
    </section>
    <section class="container personal-info">
        <ul class="nav-left">
            <li class="active"><a href="/personal">个人中心</a></li>
            <li ><a href="/personal-order">我的订单</a></li>
            <!-- <li><a href="javascript:;">收获地址</a></li> -->
            <!-- <li><a href="javascript:;">修改密码</a></li> -->
            <!-- <li><a href="javascript:;">收藏夹</a></li> -->
        </ul>
        <div class="info-right">
            <form class="info-form" action="javascript:;" method="POST">
                <div class="form-item">
                    <label for="">昵称</label>
                    <input type="text" name="nickname" required value="<%= user.nickname%>">
                </div>
                <div class="form-item">
                    <label for="">邮箱</label>
                    <input type="text" name="email"   value="<%= user.email%>">
                </div>
                <div class="form-item">
                    <label for="">手机号</label>
                    <input type="text" name="phone"  value="<%= user.phone%>">
                </div>
                <div class="form-item">
                    <label for=""></label>
                    <input type="submit" vlaue="注册">
                </div>
            </form>
        </div>
    </section>
    <!-- 个人中心 结束 -->
    <script>
        $('.info-form').submit(function(){
            var dataStr = $(this).serialize()
            
            $.ajax({
                url:"/personal-info",
                type:"post",
                data: dataStr,
                success:function(res){
                    if(res.code == 200){
                        personal.html(res.data.nickname)
                    }
                    layer.msg(res.msg)
                }
            })
            return false;
        })
    </script>

<% include /public/footer.html %>
<!-- 网站底部结束 -->