.goods-success,.goods-pay{
    background-color: #fff;
    overflow: hidden;
}
.goods-success {
    padding:30px 0;
}
.goods-success .icon{
    font-size: 88px;
    margin:0px 40px;
    float: left;
    color:#83c44e;
}
.goods-success .info{
    float:left;
    width:calc(100% - 224px);
}
.goods-success .info .top .tips{
    float:left;
}
.goods-success .info .top{
    height:88px;
    line-height:88px;
    font-size:22px;
    font-weight: 200;
}