body{
    background-color: #f1f1f1;
}
a {
    color: #000;
}
.container{
    width:1200px;
    margin:0 auto;
}
.container::after{
    content:"";
    display: block;
    clear: both;
}
/* 登录 注册 开始 */
.dialog{
    width:500px;
    position: absolute;
    background-color: #fff;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    padding: 20px 70px 40px 40px;
    box-sizing: border-box;
    box-shadow: 0 0px 15px rgba(105,101,101,.2);
}
.dialog .h3-title{
    text-align: center;
}
.dialog .form-item{
    height:40px;
    line-height: 40px;
    margin-top: 18px;
}
.dialog .form-item label{
    float: left;
    width:80px;
    height:100%;
    text-align: center;
    color:#444;
    font-weight: 200;
}
.dialog .form-item input{
    padding:0 10px;
    box-sizing: border-box;
    width: calc(100% - 80px);
    display: block;
    border:1px solid #ccc;
    border-radius: 0;
}
.dialog .form-item input[type=submit]{
    background:#EF8E25;
    color:#fff;
    border: none;
}
/* 登录 注册 结束 */
/* 面包屑导航 开始 */
.crumb{
    color: #333;
    font-size: 18px;
    font-weight: 200;
    line-height: 58px;
}
.crumb a:hover{
    color: #EF8E25;
}
/* 面包屑导航 结束 */

/* 头部导航 开始 */
.header{
    width: 100%;
    height:100px;
    background: #fff;
    border-top: 3px solid #EF8E25;
    box-shadow: 0 4px 8px rgba(105,101,101,.1);
}
.header .logo{
    line-height: 100px;
    font-size: 22px;
    font-weight: 200;
    float: left;
    width: 224px;
}
.header .nav{
    height: 100%;
    line-height: 100px;
    font-weight: 200;
    float: left;
}
.header .nav a{
    font-size: 18px;
    font-weight: 200;
    float: left;
    transition: color 0.2s;
    padding:0 20px;
    position: relative;
}
.header .nav a:hover{
    color:#EF8E25;
}
.header .nav a.active::after{
    content:"";
    position: absolute;
    width:100%;
    height:2px;
    background-color: #EF8E25;
    bottom: 0;
    left:0;
}
.header .search-box{
    float:right;
    height: 100%;
    /* background: #ccc; */
}
.header .search-box .top{
    height:40px;
    line-height: 40px;
    text-align: right;
}
.header .search-box .top a,
.header .search-box .top .car{
    font-weight: 200;
    vertical-align: middle;
}
.header .search-box .top .line{
    border-left:1px solid #aaa;
    display: inline-block;
    height:10px;
    margin:15px 10px;
    vertical-align: middle;
    /* float:left; */
}
.header .search-box .search{
    height:34px;
    border:1px solid #999;
    line-height:34px;
}
.header .search-box .search input{
    border:0;
    outline: 0;
    padding:0 10px;
    height:100%;
    width: 200px;
    transition: width .3s;
}
.header .search-box .search input:focus{
    width: 280px;
}
.header .search-box .search div{
    display: inline-block;
    width:34px;
    height:34px;
    background:#fff;
    border-left:1px solid #999;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all .2s;
}
.header .search-box .search div:hover{
    color:#EF8E25;
}
/* 头部导航 结束 */

/* 轮播图分类 开始 */
.banner-box{
    height:460px;
    margin-top: 20px;
    position: relative;
}
.banner-box .category{
    position: absolute;
    top:0;
    left:0;
    z-index: 100;
    width:230px;
    height:100%;
    background-color: rgba(105,101,101,.6);
}

.banner-box .category li{
    width:100%;
    height:46px;
    line-height: 46px;
    transition: all .2s;
}
.banner-box .category.thumb-type{
    overflow-y: auto;
}
.banner-box .category.thumb-type li{
    width:100%;
    height:76.6666px;
    position: relative;
}
.banner-box .category.thumb-type li a{
    display: block;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    padding:0;
    color:#000;
    text-align: center;
    z-index: 2;
}
.banner-box .category.thumb-type li img{
    display: block;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    z-index: 1;
}
.banner-box .category li img{
    display: none;
}

.banner-box .category li:hover{
    background-color: #EF8E25;
}
.banner-box .category li a{
    display: block;
    height:100%;
    padding-left:40px;
    color:#fff;
}
.banner-box .banner{
    width:100%;
    height:100%;
}
.banner-box .banner .swiper-slide{
    background-position: center;
    background-size: cover;
}
.banner-box .swiper-pagination-bullet-active {
    opacity: 1;
    background: #EF8E25;
}
/* 轮播图分类 结束 */

/* 标题样式 开始 */
.hgroup {
    overflow: hidden;
}
.hgroup .h3-title{
    float: left;
}
.hgroup .h3-more{
    float: right;
    transition: color .3s;
}
.hgroup .h3-more:hover{
    color:#EF8E25;
}
.h3-title{
    color: #333;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
}
.h3-more{
    color: #333;
    font-size: 18px;
    font-weight: 200;
    line-height: 58px;
}
/* 标题样式 结束 */

.goods-lists .item.list{
    width:380px;
    height:auto;
    margin-right: 30px;
}
.goods-lists .item.list:nth-of-type(3n){
    margin-right: 0;
}
.goods-lists .item.list a{
    overflow: hidden;
}
.goods-lists .item.list .figure-img{
    width:200px;
    float:left;
}
.goods-lists .item.list .info{
    float:left;
    width:180px;
    padding-top:33px;
}
/* 商品分类 开始 */
.goods-lists .item{
    background-color: #fff;
    height: 260px;
    padding: 20px 0;
    float: left;
    width: 224px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: all .2s linear;
}

.goods-lists .item:nth-of-type(5n){
    margin-right: 0;
}
.goods-lists .item:hover{
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    transform: translate3d(0,-2px,0);
}
.goods-lists .item a{
    display: block;
    text-align: center;
}
.goods-lists .item a img{
    width: 160px;
    height: 160px;
}
.goods-lists .item .title{
    margin: 0 10px 2px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.goods-lists .item .desc {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
}
.goods-lists .item .price {
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700;
    font-size: 14px;
}
.goods-lists .item .price del {
    margin-left: .5em;
    color: #b0b0b0;
}
/* 商品分类 结束 */

/* 新闻排行榜开始 */
.news-lists {
    width: 820px;
    float: left;
}
.rank-lists {
    width: 365px;
    height: auto;
    float: right;
}
.rank-lists .item {
    height: auto;
    padding: 15px 15px 15px 40px;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    background: #fff;
}
.rank-lists .item:last-child {
    border:none;
}
.rank-lists .item dt {
    height: auto;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 10px;
}
.rank-lists .item dt a{
    transition: color .3s;
}

.rank-lists .item:hover dt a{
    color:#EF8E25;
}
.rank-lists .item .rank {
    width: 40px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    font-style: italic;
    color: #666;
    text-align: center;
    position: absolute;
    left: 0;
    top: 16px;
}
.rank-lists .item .rank.red{
    color:#C1434E;
}
.rank-lists .item .time {
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #999;
}
/* 新闻排行榜 结束 */
/* 卡片新闻开始 */
.card .item {
    width: 253px;
    height: 250px;
    margin: 0 20px 20px 0;
    float: left;
    background: #fff;
    transition: all 0.2s ease-in-out;
}
.card .item:hover{
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    transform: translate3d(0,-2px,0);
}
.card .item:hover img{
    transform: scale(1.1);
}
.card .item a:hover{
    color:#EF8E25;
}
.card .item dt {
    width: 100%;
    height: 142px;
    overflow: hidden;
}
.card .item dt img {
    width: 100%;
    height: 100%;
    transition: all 0.2s linear 0s;
}
.card .item dd {
    height: 48px;
    margin: 15px 10px 15px 15px;
    overflow: hidden;
}
.card .item dd.sort {
    height: 14px;
    line-height: 14px;
    font-size: 14px;
}
.card .item dd.sort .time {
    font-size: 12px;
    font-family: arial;
    color: #999;
    padding-left: 15px;
    font-style: normal;
}
/* 卡片新闻结束 */

/* 列表新闻开始 */
.list .item {
    margin: 0 20px 0px 0;
    background: #fff;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
    box-sizing: border-box;
    padding:20px;
}
.list .item:hover{
    box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
    transform: translate3d(0,-2px,0);
}
.list .item a:hover{
    color:#EF8E25;
}
.list .item dt {
    width: 250px;
    height: 140px;
    margin-right: 20px;
    overflow: hidden;
    float: left;
}
.list .item dd {
    width:calc(100% - 270px);
    /* height: 48px; */
    /* margin: 15px 10px 15px 15px; */
    overflow: hidden;
}
.list .item dd.title{
    line-height:1;
    margin-bottom: 14px;
}
.list .item dd.desc{
    line-height:1;
    height: 80px;
    font-size: 14px;
    line-height:26px;
    overflow: hidden;
    margin-bottom: 16px;
}
.list .item dd.sort {
    height: 14px;
    line-height: 14px;
    font-size: 14px;
}
.list .item dd.sort .time {
    font-size: 12px;
    font-family: arial;
    color: #999;
    padding-left: 15px;
    font-style: normal;
}
/* 列表新闻结束 */
/* 图文阅读排行开始 */
.thumb-lists{
    width: 365px;
    height: auto;
    float: right;
}

.thumb-lists .item {
    height: auto;
    padding: 15px;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    background: #fff;
    overflow: hidden;
}
.thumb-lists .item:last-child {
    border:none;
}
.thumb-lists .item dt{
    /* width: 365px - 30 = 335px */
    width:120px;
    height:70px;
    float:left;
}
.thumb-lists .item dt a,
.thumb-lists .item dt img
{
    width: 100%;
    height:100%;
    display: block;
}
.thumb-lists .info{
    width: calc(100% - 135px);
    float:right;
}
.thumb-lists .info a{
    display: block;
    line-height: 20px;
     transition: color .3s;
     height:40px;
     margin-bottom: 16px;
}
.thumb-lists .item::hover .info a{
     color:#EF8E25;
}
.thumb-lists .info .time{
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #999;
}
/* 图文阅读排行结束 */
/* 分页开始 */
.page-box{
    height:40px;
    line-height:40px;
    margin-top:20px;
    margin-bottom:40px;
}
.page-box>*{
    display: inline-block;
    vertical-align: top;
    font-size:14px;
}
.page-box a:hover{
    color: #EF8E25;
}
.page-box .prev-page,.page-box .next-page{
    height:40px;
    background: #fff;
    
    padding: 0 15px;
}
.page-box .page-list {
    margin-left:10px;
    height:100%;
}
.page-box .page-list a,
.page-box .page-list span{
    display: inline-block;
    width:40px;
    height:100%;
    background-color: #fff;
    text-align: center;
    margin-right:10px;
}
.page-box .page-list span{
    background-color: #EF8E25;
    color:#fff;
}
/* 分页结束 */

/* 网站底部开始 */
.footer{
    background:#fff;
    margin-top: 20px;
}
.footer .sub-nav-box {
    overflow: hidden;
    padding:40px 0 20px 0;
}
.footer .sub-nav-box .nav{
    float:left;
    width:240px;
}
.footer .sub-nav-box .nav li.title{
    font-size:22px;
    font-weight: 200;
    line-height:40px;
}
.footer .sub-nav-box .nav li{
    line-height:40px;
}
.footer .sub-nav-box .nav li a{
    color:#999;
    font-size: 14px;
}
.footer .sub-nav-box .nav li a:hover{
    color:#EF8E25;
}
.footer .sub-nav-box .qr{
    float: right;
    border-left:1px solid #eee;
    padding-left:30px;
}
.footer .sub-nav-box .qr img {
    width:200px;
    height:200px;
}
.footer .sub-nav-box .qr-title{
    text-align: center;
}
.footer .copyright{
    line-height: 70px;
    text-align: center;
    color:#999;
    font-size: 14px;
    border-top:1px solid #eee;
}
/* 网站底部结束 */